@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @(await Html.RenderComponentAsync<Medshareanddonation.Components.Pages.Home>(RenderMode.ServerPrerendered))
</div>



<script>
    document.getElementById("btnProfile").addEventListener("click", function() {
        const token = localStorage.getItem("token");
        if (!token) {
            alert("You are not logged in!");
            return;
        }

        // Navigate to Profile page
        window.location.href = '/Profile/Details';
    });
</script>
